{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            
        {% endblock title %}
            
    </title>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link rel="shortcut icon" href="{% static 'accounts/favicon.ico' %}" />
</head>
<body class="insta-bg">
    <div class="login-container d-flex flex-column
    justify-content-center align-items-center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>